parameters:
    ignoreErrors:
        - "#Method Contentful\\\\Management\\\\Client\\:\\:get([a-zA-Z]+)\\(\\) should return Contentful\\\\Management\\\\Resource\\\\([a-zA-Z]+) but returns Contentful\\\\Core\\\\Resource\\\\ResourceArray\\|Contentful\\\\Management\\\\Resource\\\\ResourceInterface\\.#"
