<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="e2e">
            <directory>tests/E2E</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="build/coverage" lowUpperBound="35" highLowerBound="70" />
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>

    <listeners>
        <listener class="VCR\PHPUnit\TestListener\VCRTestListener" file="vendor/php-vcr/phpunit-testlistener-vcr/src/VCRTestListener.php" />
    </listeners>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <php>
        <env name="CONTENTFUL_PHP_MANAGEMENT_SDK_ENV" value="test" />

        <env name="CONTENTFUL_PHP_MANAGEMENT_SPACE_ID_READ_ONLY" value="34luz0flcmxt" />
        <env name="CONTENTFUL_PHP_MANAGEMENT_SPACE_ID_READ_WRITE" value="pmgjoasidv3w" />
        <env name="CONTENTFUL_PHP_MANAGEMENT_SPACE_ID_CODE_GENERATION" value="t7rprcaoexcq" />
        <env name="CONTENTFUL_PHP_MANAGEMENT_ORGANIZATION_ID" value="3ubGFD1MWA6VgVYbIwSBg8" />
    </php>
</phpunit>
